<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.citytuike.mapper.TpAdMapper">
	
	<resultMap id="TpStatisticsDataMap" type="com.citytuike.model.TpStatisticsData" >
		<result column="rec_id" property="rec_id" />
	</resultMap>
	<resultMap id="TpAdTradeMap" type="com.citytuike.model.TpAdTrade" >
		<result column="trade_id" property="trade_id" />
	</resultMap>
	<resultMap id="TpAdCategoryMap" type="com.citytuike.model.TpAdCategory" >
		<result column="id;" property="id;" />
	</resultMap>
	<resultMap id="TpAdTopUpMap" type="com.citytuike.model.TpAdTopUp" >
		<result column="id" property="id" />
	</resultMap>
	<resultMap id="TpAdApplyMap" type="com.citytuike.model.TpAdApply" >
		<result column="id" property="id" />
	</resultMap>
	<resultMap id="TpAdApplyMaterialMap" type="com.citytuike.model.TpAdApplyMaterial" >
		<result column="id" property="id" />
	</resultMap>
	<resultMap id="TpAdApplyRegionMap" type="com.citytuike.model.TpAdApplyRegion" >
		<result column="id" property="id" />
	</resultMap>

	<select id="findStatisticsDataByDeviceId" parameterType="java.util.HashMap" resultMap="TpStatisticsDataMap">
		SELECT * FROM tp_statistics_data where object_id=#{id} and  year=#{year} and  month=#{month} and  day=#{day}
	</select>
	<select id="findAllAdTrade" parameterType="java.util.HashMap" resultMap="TpAdTradeMap">
		SELECT * FROM tp_ad_trade where ISNULL(parent_id)
	</select>
	<select id="findAdApplyMaterialByApplyId" parameterType="java.util.HashMap" resultMap="TpAdApplyMaterialMap">
		SELECT * FROM tp_ad_apply_material where id=#{id} and display=1 order by sort DESC
	</select>
	<select id="findAdApplyRegionByApplyId" parameterType="java.util.HashMap" resultMap="TpAdApplyRegionMap">
		SELECT * FROM tp_ad_apply_region where id=#{id}
	</select>
	<select id="findAllAdTradeByParentId" parameterType="java.util.HashMap" resultMap="TpAdTradeMap">
		SELECT * FROM tp_ad_trade where parent_id=#{trade_id}
	</select>
	<select id="findAdCategoryById" parameterType="java.util.HashMap" resultMap="TpAdCategoryMap">
		SELECT * FROM tp_ad_category where id=#{cate}
	</select>
	<select id="getTopUpCount" resultType="java.lang.Integer">
        SELECT COUNT(*) FROM tp_ad_top_up where pay_status=1 and user_id=#{user_id}
    </select>
	<select id="getApplyCount" resultType="java.lang.Integer">
        SELECT COUNT(*) FROM tp_ad_apply where  user_id=#{user_id}
		<if test="status != null" >
			and state=#{status}
		</if>
    </select>
	<select id="selectTopUpByPage" resultMap="TpAdTopUpMap">
        select *  from tp_ad_top_up where pay_status=1 and user_id=#{user_id} order by created_at desc limit #{startPos},#{pageSize}
    </select>
	<select id="selectApplyByPage" resultMap="TpAdApplyMap">
        select *  from tp_ad_apply where user_id=#{user_id}
		<if test="status != null" >
			and state=#{status}
		</if>
		order by create_at limit #{startPos},#{pageSize}
    </select>
	<select id="findAdApplyByOrderSn" resultMap="TpAdApplyMap">
        select *  from tp_ad_apply where order_sn=#{apply_sn}
    </select>
	<select id="findAdApplyByOrderSn" resultMap="TpAdApplyMap">
        select *  from tp_ad_apply where id=#{id}
    </select>
	<select id="findAdApplyByOrderSnAndStatus" resultMap="TpAdApplyMap">
        select *  from tp_ad_apply where order_sn=#{apply_sn} and user_id=#{user_id} and state=#{state};
    </select>
	<select id="findTradeById" resultMap="TpAdTradeMap">
        select *  from tp_ad_trade where id=#{apply_sn}
    </select>
	<insert id="insertAdApply" parameterType="com.citytuike.model.TpAdApply" useGeneratedKeys="true" keyProperty="id" >
    insert into tp_ad_apply (order_sn, user_id, cate,
      trade_id, days, url,
      describe, side, launch_num,
      order_amount, state, pay_status,pay_code, pay_name,
      launch_at,paid_at,
      audited_at,created_at, updated_at,
      activity,ori_order_amount,before_days,fans_need_id,
      launch_position)
    values (#{order_sn}, #{user_id}, #{cate},
      #{trade_id}, #{days}, #{url},
      #{describe}, #{side}, #{launch_num},
      #{order_amount}, #{state}, #{pay_status},
      #{pay_code},#{pay_name},#{launch_at},paid_at},
      #{audited_at},#{created_at}, #{updated_at},
      #{activity}, #{ori_order_amount}, #{before_days}, #{fans_need_id}, #{launch_position})
  </insert>
	<insert id="insertAdApplyRegion" parameterType="com.citytuike.model.TpAdApplyRegion" useGeneratedKeys="true" keyProperty="id" >
    insert into tp_ad_apply_region (apply_id, region_id, num
    values (#{apply_id}, #{region_id}, #{num}
  </insert>
	<insert id="insertAdApplyMaterial" parameterType="com.citytuike.model.TpAdApplyMaterial" useGeneratedKeys="true" keyProperty="id" >
    insert into tp_ad_apply_material (apply_id, url, display,sort
    values (#{apply_id}, #{url}, #{display}, #{sort}
  </insert>
	<insert id="insertAdTopUp" parameterType="com.citytuike.model.TpAdTopUp" useGeneratedKeys="true" keyProperty="id" >
    insert into tp_ad_top_up (user_id, order_sn,
      order_amount, pay_status, remark,
      transaction_id, paid_at, created_at,
      updated_at
    values (#{user_id}, #{order_sn},
      #{order_amount}, #{pay_status},  #{remark},
      #{transaction_id}, #{paid_at}, #{created_at},
      #{updated_at})
  </insert>
	<update id="updateAdApply" parameterType="com.citytuike.model.TpAdApply" >
		UPDATE tp_ad_apply
		SET
				pay_status=#{pay_status},
				paid_at=#{paid_at},
				launch_at=#{launch_at},
				updated_at=#{updated_at}
		WHERE order_sn=#{order_sn}
	</update>
	<update id="updateAdApplyByActivity" parameterType="com.citytuike.model.TpAdApply" >
		UPDATE tp_ad_apply
		SET
				order_amount=#{order_amount},
				days=#{days},
				activity=#{activity},
				before_days=#{before_days},
				order_sn=#{order_sn},
				ori_order_amount=#{ori_order_amount}
		WHERE order_sn=#{order_sn}
	</update>
	<update id="updataApplyBystate" parameterType="com.citytuike.model.TpAdApply" >
		UPDATE tp_ad_apply
		SET
				state=#{state},
				updated_at=now()
		WHERE id=#{adApplyId}
	</update>
</mapper>