<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--命名空间应该是对应接口的包名+接口名 -->
<mapper namespace="com.citytuike.mapper.TpOrderMapper">
	<resultMap id="TpOrder" type="com.citytuike.model.TpOrder" >
		<result column="order_id" property="order_id" />
	</resultMap>
	<resultMap id="TpOrderGoods" type="com.citytuike.model.TpOrderGoods" >
		<result column="rec_id" property="rec_id" />
	</resultMap>
	<resultMap id="TpPlugin" type="com.citytuike.model.TpPlugin" >
		<result column="code" property="code" />
	</resultMap>

	<!-- 一对多查询关联  -->
	<resultMap type="com.citytuike.model.TpOrder" id="orderResultMap">
		<!-- 实体类属性对应数据库的主键字段，不然主键会查不到 -->
		<id property="order_id" column="order_id"/>
		<!-- 用collection标签 ,也是实体类属性要对应数据库字段-->
		<collection property="tpOrderGoodsList" column="order_id"
					select="com.citytuike.mapper.TpOrderMapper.findAllGoodsByOrderId">
		</collection>
	</resultMap>


	<!-- 分页SQL语句 -->
    <select id="findAllOrderAndGoods" resultMap="orderResultMap">
        SELECT
			*
		FROM
			tp_order o
		LEFT JOIN tp_order_goods g ON o.order_id = g.order_id
		WHERE
			o.user_id = #{user_id}
		AND o.pay_status = 1
		AND g.goods_id = 144;
    </select>  
    <select id="findAllGoodsByOrderId" resultMap="TpOrderGoods">
        select *  from tp_order_goods where order_id=#{order_id}
    </select>
    <select id="findAllOrderByUserId" resultMap="TpOrderGoods">
        select *  from tp_order where user_id=#{user_id} and pay_status=1
    </select>
    <select id="findOrderById" resultType="com.citytuike.model.TpOrder">
        select *  from tp_order where order_id=#{id}
    </select>
    <select id="findAllPlugin" resultMap="TpPlugin">
        select *  from tp_plugin where status=1
    </select>
    <select id="findOrderByOrderSn" resultType="com.citytuike.model.TpOrder">
        select *  from tp_order where order_sn=#{out_trade_no}
    </select>
    <select id="selectByPage" resultMap="TpOrder">
    	select *  from tp_order
		where
		user_id=#{user_id}
    	<if test="type != null">
    		<if test='type == "all"'>

			</if>
    		<if test='type == "WAITSEND"'>
			    and shipping_status=1 and order_status in(0, 1)
			</if>
		    <if test='type != null and type == "WAITPAY"'>
				 and pay_status=1 and order_status in(0, 1)
			</if>
		    <if test='type != null and type == "WAITRECEIVE"'>
				 and shipping_status=1 and order_status=0
			</if>
		    <if test='type != null and type == "WAITCCOMMENT"'>
				 and order_status=2
			</if>
		    <if test='type != null and type == "CANCEL"'>
				 and order_status=3
			</if>
		    <if test='type != null and type == "FINISH"'>
				 and order_status=4
			</if>
		    <if test='type != null and type == "CANCELLED"'>
				 and order_status=5
			</if>
    	</if>
        limit #{startPos},#{pageSize}
    </select>  
    <!-- 取得记录的总数 -->  
    <select id="getCount" resultType="java.lang.Integer">
        SELECT COUNT(*) FROM tp_order
		where
		user_id=#{user_id}
		<if test="type != null">
			<if test='type == "all"'>

			</if>
			<if test='type == "WAITSEND"'>
				and shipping_status=1 and order_status in(0, 1)
			</if>
			<if test='type != null and type == "WAITPAY"'>
				and pay_status=1 and order_status in(0, 1)
			</if>
			<if test='type != null and type == "WAITRECEIVE"'>
				and shipping_status=1 and order_status=0
			</if>
			<if test='type != null and type == "WAITCCOMMENT"'>
				and order_status=2
			</if>
			<if test='type != null and type == "CANCEL"'>
				and order_status=3
			</if>
			<if test='type != null and type == "FINISH"'>
				and order_status=4
			</if>
			<if test='type != null and type == "CANCELLED"'>
				and order_status=5
			</if>
		</if>
    </select> 
	<insert id="intsertOrder" parameterType="com.citytuike.model.TpOrder" useGeneratedKeys="true" keyProperty="order_id">
		INSERT INTO tp_goods_collect (
			order_sn,
			user_id,
			order_status,
			shipping_status,
			pay_status,
			consignee,
			province,
			city,
			district,
			twon,
			address,
			zipcode,
			mobile,
			email,
			shipping_code,
			shipping_name,
			pay_code,
			pay_name,
			invoice_title,
			taxpayer,
			goods_price,
			shipping_price,
			user_money,
			coupon_price,
			integral,
			integral_money,
			order_amount,
			total_amount,
			add_time,
			confirm_time,
			pay_time,
			transaction_id,
			prom_id,
			prom_type,
			order_prom_id,
			order_prom_amount,
			discount,
			user_note,
			admin_note,
			parent_sn,
			is_distribut,
			paid_money,
			deleted,
			settle_status,
			all_income,
			invoice_email,
			invoice_contact,
			invoice_fee,
			is_return
		) VALUES (
			#{order_sn},
			#{user_id},
			#{order_status},
			#{shipping_status},
			#{pay_status},
			#{consignee},
			#{province},
			#{city},
			#{district},
			#{twon},
			#{address},
			#{zipcode},
			#{mobile},
			#{email},
			#{shipping_code},
			#{shipping_name},
			#{pay_code},
			#{pay_name},
			#{invoice_title},
			#{taxpayer},
			#{goods_price},
			#{shipping_price},
			#{user_money},
			#{coupon_price},
			#{integral},
			#{integral_money},
			#{order_amount},
			#{total_amount},
			#{add_time},
			#{confirm_time},
			#{pay_time},
			#{transaction_id},
			#{prom_id},
			#{prom_type},
			#{order_prom_id},
			#{order_prom_amount},
			#{discount},
			#{user_note},
			#{admin_note},
			#{parent_sn},
			#{is_distribut},
			#{paid_money},
			#{deleted},
			#{settle_status},
			#{all_income},
			#{invoice_email},
			#{invoice_contact},
			#{invoice_fee},
			#{is_return}
		);
	</insert>
	<insert id="insertOrderGoods" parameterType="com.citytuike.model.TpOrderGoods" useGeneratedKeys="true" keyProperty="rec_id">
		INSERT INTO tp_goods_collect (
			order_id,
			goods_id,
			goods_name,
			goods_sn,
			goods_num,
			final_price,
			goods_price,
			cost_price,
			member_goods_price,
			give_integral,
			spec_key,
			spec_key_name,
			bar_code,
			is_comment,
			prom_type,
			prom_id,
			is_send,
			delivery_id,
			sku,
			original_img,
			goods_type,
			type
		) VALUES (
			#{order_id},
			#{goods_id},
			#{goods_name},
			#{goods_sn},
			#{goods_num},
			#{final_price},
			#{goods_price},
			#{cost_price},
			#{member_goods_price},
			#{give_integral},
			#{spec_key},
			#{spec_key_name},
			#{bar_code},
			#{is_comment},
			#{prom_type},
			#{prom_id},
			#{is_send},
			#{delivery_id},
			#{sku},
			#{original_img},
			#{goods_type},
			#{type}
		);
	</insert>
	<insert id="insertOrderAction" parameterType="com.citytuike.model.TpOrderAction" useGeneratedKeys="true" keyProperty="action_id">
		INSERT INTO tp_goods_collect (
			order_id,
			action_user,
			order_status,
			shipping_status,
			pay_status,
			action_note,
			log_time,
			status_desc
		) VALUES (
			#{order_id},
			#{action_user},
			#{order_status},
			#{shipping_status},
			#{pay_status},
			#{action_note},
			#{log_time},
			#{status_desc}
		);
	</insert>
	<insert id="insertInvoic" parameterType="com.citytuike.model.TpInvoice" useGeneratedKeys="true" keyProperty="invoice_id">
		INSERT INTO tp_goods_collect (
			order_id,
			user_id,
			invoice_type,
			invoice_money,
			invoice_title,
			invoice_desc,
			invoice_rate,
			taxpayer,
			status,
			atime,
			ctime
		) VALUES (
			#{order_id},
			#{user_id},
			#{invoice_type},
			#{invoice_money},
			#{invoice_title},
			#{invoice_desc},
			#{invoice_rate},
			#{taxpayer},
			#{status},
			#{atime},
			#{ctime}
		);
	</insert>
	<update id="updataRecordRefundOrder" parameterType="com.citytuike.model.TpOrder" >
		UPDATE tp_order SET order_status=3 WHERE order_id = #{order_id}
	</update>
	<update id="updataOrderConfirm" parameterType="com.citytuike.model.TpOrder" >
		UPDATE tp_order SET shipping_status=1 WHERE order_id = #{order_id}
	</update>
	<update id="updateOrderAddress" parameterType="com.citytuike.model.TpOrder" >
		UPDATE tp_order SET province=#{province}, city=#{city}, 
		district=#{district}, address=#{address} WHERE order_id = #{order_id}
	</update>
	<update id="updateOrderByAlipay" parameterType="com.citytuike.model.TpOrder" >
		UPDATE tp_order SET pay_code=#{pay_code}, pay_name=#{pay_name},
		pay_time=#{pay_time}, transaction_id=#{transaction_id}, pay_status=#{pay_status} WHERE order_id = #{order_id}
	</update>
	<select id="getConsigneeByMobile" resultType="com.citytuike.model.TpOrder">
		select consignee,add_time,order_sn from tp_order where user_id = #{user_id} and add_time is not null order by add_time desc limit 1;
	</select>
	<insert id="save" parameterType="com.citytuike.model.TpFansOrder" >
		insert into tp_fans_order (order_id, order_sn, user_id,
		order_status, shipping_status, pay_status,
		consignee, country, province,
		city, district, twon,
		address, zipcode, mobile,
		email, shipping_code, shipping_name,
		pay_code, pay_name, invoice_title,
		taxpayer, goods_price, shipping_price,
		user_money, coupon_price, integral,
		integral_money, order_amount, total_amount,
		add_time, shipping_time, confirm_time,
		pay_time, transaction_id, prom_id,
		prom_type, order_prom_id, order_prom_amount,
		discount, user_note, admin_note,
		parent_sn, is_distribut, paid_money,
		deleted, settle_status, all_income,
		invoice_email, invoice_contact, invoice_fee,
		goods_id)
		values (#{order_id,jdbcType=INTEGER}, #{order_sn,jdbcType=VARCHAR}, #{user_id,jdbcType=INTEGER},
		#{order_status,jdbcType=BIT}, #{shipping_status,jdbcType=BIT}, #{pay_status,jdbcType=BIT},
		#{consignee,jdbcType=VARCHAR}, #{country,jdbcType=INTEGER}, #{province,jdbcType=INTEGER},
		#{city,jdbcType=INTEGER}, #{district,jdbcType=INTEGER}, #{twon,jdbcType=INTEGER},
		#{address,jdbcType=VARCHAR}, #{zipcode,jdbcType=VARCHAR}, #{mobile,jdbcType=VARCHAR},
		#{email,jdbcType=VARCHAR}, #{shipping_code,jdbcType=VARCHAR}, #{shipping_name,jdbcType=VARCHAR},
		#{pay_code,jdbcType=VARCHAR}, #{pay_name,jdbcType=VARCHAR}, #{invoice_title,jdbcType=VARCHAR},
		#{taxpayer,jdbcType=VARCHAR}, #{goods_price,jdbcType=DECIMAL}, #{shipping_price,jdbcType=DECIMAL},
		#{user_money,jdbcType=DECIMAL}, #{coupon_price,jdbcType=DECIMAL}, #{integral,jdbcType=INTEGER},
		#{integral_money,jdbcType=DECIMAL}, #{order_amount,jdbcType=DECIMAL}, #{total_amount,jdbcType=DECIMAL},
		#{add_time,jdbcType=INTEGER}, #{shipping_time,jdbcType=INTEGER}, #{confirm_time,jdbcType=INTEGER},
		#{pay_time,jdbcType=INTEGER}, #{transaction_id,jdbcType=VARCHAR}, #{prom_id,jdbcType=INTEGER},
		#{prom_type,jdbcType=TINYINT}, #{order_prom_id,jdbcType=SMALLINT}, #{order_prom_amount,jdbcType=DECIMAL},
		#{discount,jdbcType=DECIMAL}, #{user_note,jdbcType=VARCHAR}, #{admin_note,jdbcType=VARCHAR},
		#{parent_sn,jdbcType=VARCHAR}, #{is_distribut,jdbcType=BIT}, #{paid_money,jdbcType=DECIMAL},
		#{deleted,jdbcType=BIT}, #{settle_status,jdbcType=TINYINT}, #{all_income,jdbcType=DECIMAL},
		#{invoice_email,jdbcType=VARCHAR}, #{invoice_contact,jdbcType=VARCHAR}, #{invoice_fee,jdbcType=DECIMAL},
		#{goods_id,jdbcType=INTEGER})
	</insert>
	<update id="updateStatus">
		update tp_order set settle_status = 2 where order_id = #{order_id}
	</update>
	<select id="selectOrder" resultType="com.citytuike.model.TpOrder">
		select order_sn,add_time as order_shipping_time from tp_order where order_id = #{order_id}
	</select>
</mapper>