<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.citytuike.mapper.TpTenSecondsActivityRewardLogMapper" >
  <resultMap id="BaseResultMap" type="com.citytuike.model.TpTenSecondsActivityRewardLog" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="activity_id" property="activity_id" jdbcType="INTEGER" />
    <result column="reward_id" property="reward_id" jdbcType="INTEGER" />
    <result column="user_id" property="user_id" jdbcType="INTEGER" />
    <result column="add_time" property="add_time" jdbcType="TIMESTAMP" />
    <result column="seconds" property="seconds" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="send_time" property="send_time" jdbcType="TIMESTAMP" />
    <result column="logistics_number" property="logistics_number" jdbcType="VARCHAR" />
    <result column="logistics_name" property="logistics_name" jdbcType="VARCHAR" />
    <result column="reward_name" property="reward_name" jdbcType="VARCHAR" />
    <result column="consignee" property="consignee" jdbcType="VARCHAR" />
    <result column="province" property="province" jdbcType="VARCHAR" />
    <result column="city" property="city" jdbcType="VARCHAR" />
    <result column="district" property="district" jdbcType="VARCHAR" />
    <result column="twon" property="twon" jdbcType="VARCHAR" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="mobile" property="mobile" jdbcType="VARCHAR" />
    <result column="from_user_id" property="from_user_id" jdbcType="INTEGER" />
    <result column="goods_id" property="goods_id" jdbcType="INTEGER" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tp_ten_seconds_activity_reward_log
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.citytuike.model.TpTenSecondsActivityRewardLog" useGeneratedKeys="true" keyProperty="id" >
    insert into tp_ten_seconds_activity_reward_log (activity_id, reward_id, user_id, 
      add_time, seconds, status, 
      send_time, logistics_number, logistics_name, 
      reward_name, consignee, province, 
      city, district, twon, 
      address, mobile, from_user_id
      )
    values (#{activity_id,jdbcType=INTEGER}, #{reward_id,jdbcType=INTEGER}, #{user_id,jdbcType=INTEGER}, 
      #{add_time,jdbcType=TIMESTAMP}, #{seconds,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}, 
      #{send_time,jdbcType=TIMESTAMP}, #{logistics_number,jdbcType=VARCHAR}, #{logistics_name,jdbcType=VARCHAR}, 
      #{reward_name,jdbcType=VARCHAR}, #{consignee,jdbcType=VARCHAR}, #{province,jdbcType=VARCHAR}, 
      #{city,jdbcType=VARCHAR}, #{district,jdbcType=VARCHAR}, #{twon,jdbcType=VARCHAR}, 
      #{address,jdbcType=VARCHAR}, #{mobile,jdbcType=VARCHAR}, #{from_user_id,jdbcType=INTEGER}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.citytuike.model.TpTenSecondsActivityRewardLog" >
    update tp_ten_seconds_activity_reward_log
    set activity_id = #{activity_id,jdbcType=INTEGER},
      reward_id = #{reward_id,jdbcType=INTEGER},
      user_id = #{user_id,jdbcType=INTEGER},
      add_time = #{add_time,jdbcType=TIMESTAMP},
      seconds = #{seconds,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      send_time = #{send_time,jdbcType=TIMESTAMP},
      logistics_number = #{logistics_number,jdbcType=VARCHAR},
      logistics_name = #{logistics_name,jdbcType=VARCHAR},
      reward_name = #{reward_name,jdbcType=VARCHAR},
      consignee = #{consignee,jdbcType=VARCHAR},
      province = #{province,jdbcType=VARCHAR},
      city = #{city,jdbcType=VARCHAR},
      district = #{district,jdbcType=VARCHAR},
      twon = #{twon,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      mobile = #{mobile,jdbcType=VARCHAR},
      from_user_id = #{from_user_id,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select id, activity_id, reward_id, user_id, add_time, seconds, status, send_time, 
    logistics_number, logistics_name, reward_name, consignee, province, city, district, 
    twon, address, mobile, from_user_id
    from tp_ten_seconds_activity_reward_log
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select id, activity_id, reward_id, user_id, add_time, seconds, status, send_time, 
    logistics_number, logistics_name, reward_name, consignee, province, city, district, 
    twon, address, mobile, from_user_id
    from tp_ten_seconds_activity_reward_log
  </select>
  <select id="checkWeekShare" resultType="int">
SELECT count(id) from tp_ten_seconds_activity_reward_log
 where from_user_id =  #{user_id} and user_id = #{shareId} and
YEARWEEK(date_format(add_time,'%Y-%m-%d')) = YEARWEEK(now())
  </select>
    <select id="getLogCount" resultType="int">
        select count(id) from tp_ten_seconds_activity_reward_log
        where user_id = #{user_id} and activity_id = #{activity_id} and
        YEARWEEK(date_format(add_time,'%Y-%m-%d')) = YEARWEEK(now())
    </select>
  <select id="checkDayShare" resultType="int">
    select count(id) from tp_ten_seconds_activity_reward_log
    where user_id = #{user_id} and from_user_id = 0 and TO_DAYS( NOW( ) ) - TO_DAYS( add_time) &lt;= 1
  </select>
  <select id="selectCount" resultType="int">
    select count(id) from tp_ten_seconds_activity_reward_log
    where activity_id = #{activity_id} and status = 1
    and add_time > DATE_SUB(NOW(), INTERVAL 60 MINUTE)
    order by add_time asc
  </select>
  <select id="selectWeekCount" resultType="int">
    select count(id) from tp_ten_seconds_activity_reward_log
    where activity_id = #{activity_id} and status = 1 and user_id = #{user_id} and add_time > DATE_SUB(NOW(), INTERVAL 1 WEEK)
    order by add_time asc
  </select>
  <select id="fansTypeList" resultMap="BaseResultMap">
     select id, activity_id, reward_id, user_id, add_time, seconds, status, send_time,
    logistics_number, logistics_name, reward_name, consignee, province, city, district,
    twon, address, mobile, from_user_id
    from tp_ten_seconds_activity_reward_log where status = 1
  </select>
    <select id="getLogById" resultMap="BaseResultMap">
        select id, activity_id, reward_id, user_id, add_time, seconds, status, send_time,
    logistics_number, logistics_name, reward_name, consignee, province, city, district,
    twon, address, mobile, from_user_id
    from tp_ten_seconds_activity_reward_log where reward_id = #{reward_id} and user_id = #{user_id}
    </select>
  <select id="update">
    update tp_ten_seconds_activity_reward_log
    set
      province = #{province,jdbcType=VARCHAR},
      city = #{city,jdbcType=VARCHAR},
      district = #{district,jdbcType=VARCHAR},
      twon = #{twon,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      mobile = #{Mobile,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="getReward" resultMap="BaseResultMap">
    SELECT * from tp_ten_seconds_activity_reward_log where id = #{log_id}
  </select>
</mapper>