<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.citytuike.mapper.TpBankMapper" >
  <resultMap id="BaseResultMap" type="com.citytuike.model.TpBank" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="code" property="code" jdbcType="VARCHAR" />
    <result column="thumb" property="thumb" jdbcType="VARCHAR" />
    <result column="desc" property="desc" jdbcType="VARCHAR" />
    <result column="credit_card_desc" property="credit_card_desc" jdbcType="VARCHAR" />
    <result column="recommend_rate" property="recommend_rate" jdbcType="TINYINT" />
    <result column="apply_rate" property="apply_rate" jdbcType="TINYINT" />
    <result column="apply_speed" property="apply_speed" jdbcType="TINYINT" />
    <result column="create_at" property="create_at" jdbcType="TIMESTAMP" />
    <result column="color" property="color" jdbcType="VARCHAR" />
    <result column="tag" property="tag" jdbcType="VARCHAR" />
    <result column="bonus" property="bonus" jdbcType="DECIMAL" />
    <result column="apply_num" property="apply_num" jdbcType="INTEGER" />
    <result column="banner" property="banner" jdbcType="VARCHAR" />
    <result column="use_bonus" property="use_bonus" jdbcType="DECIMAL" />
    <result column="thumb_l" property="thumb_l" jdbcType="VARCHAR" />
    <result column="tel" property="tel" jdbcType="VARCHAR" />
    <result column="banner_index" property="banner_index" jdbcType="VARCHAR" />
    <result column="jump_url" property="jump_url" jdbcType="VARCHAR" />
    <result column="sort" property="sort" jdbcType="TINYINT" />
    <result column="status" property="status" jdbcType="TINYINT" />
    <result column="real_apply_num" property="real_apply_num" jdbcType="INTEGER" />
    <result column="partner_id" property="partner_id" jdbcType="VARCHAR" />
    <result column="free_day" property="free_day" jdbcType="VARCHAR" />
    <result column="avg_quota" property="avg_quota" jdbcType="VARCHAR" />
    <result column="avg_apply_num" property="avg_apply_num" jdbcType="VARCHAR" />
    <result column="year_fee" property="year_fee" jdbcType="VARCHAR" />
    <result column="free_fee_times" property="free_fee_times" jdbcType="VARCHAR" />
    <result column="bill_day" property="bill_day" jdbcType="VARCHAR" />
    <result column="apply_need" property="apply_need" jdbcType="VARCHAR" />
    <result column="pass_rate" property="pass_rate" jdbcType="VARCHAR" />
    <result column="need_query" property="need_query" jdbcType="BIT" />
    <result column="background" property="background" jdbcType="VARCHAR" />
    <result column="work_day" property="work_day" jdbcType="VARCHAR" />
    <result column="school_url" property="school_url" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="BIT" />
    <result column="nuclear_card" property="nuclear_card" jdbcType="BIT" />
    <result column="open_url" property="open_url" jdbcType="VARCHAR" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tp_bank
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.citytuike.model.TpBank" useGeneratedKeys="true" keyProperty="id" >
    insert into tp_bank (name, code, thumb, 
      desc, credit_card_desc, recommend_rate, 
      apply_rate, apply_speed, create_at, 
      color, tag, bonus, 
      apply_num, banner, use_bonus, 
      thumb_l, tel, banner_index, 
      jump_url, sort, status, 
      real_apply_num, partner_id, free_day, 
      avg_quota, avg_apply_num, year_fee, 
      free_fee_times, bill_day, apply_need, 
      pass_rate, need_query, background, 
      work_day, school_url, type, 
      nuclear_card, open_url)
    values (#{name,jdbcType=VARCHAR}, #{code,jdbcType=VARCHAR}, #{thumb,jdbcType=VARCHAR}, 
      #{desc,jdbcType=VARCHAR}, #{credit_card_desc,jdbcType=VARCHAR}, #{recommend_rate,jdbcType=TINYINT}, 
      #{apply_rate,jdbcType=TINYINT}, #{apply_speed,jdbcType=TINYINT}, #{create_at,jdbcType=TIMESTAMP}, 
      #{color,jdbcType=VARCHAR}, #{tag,jdbcType=VARCHAR}, #{bonus,jdbcType=DECIMAL}, 
      #{apply_num,jdbcType=INTEGER}, #{banner,jdbcType=VARCHAR}, #{use_bonus,jdbcType=DECIMAL}, 
      #{thumb_l,jdbcType=VARCHAR}, #{tel,jdbcType=VARCHAR}, #{banner_index,jdbcType=VARCHAR}, 
      #{jump_url,jdbcType=VARCHAR}, #{sort,jdbcType=TINYINT}, #{status,jdbcType=TINYINT}, 
      #{real_apply_num,jdbcType=INTEGER}, #{partner_id,jdbcType=VARCHAR}, #{free_day,jdbcType=VARCHAR}, 
      #{avg_quota,jdbcType=VARCHAR}, #{avg_apply_num,jdbcType=VARCHAR}, #{year_fee,jdbcType=VARCHAR}, 
      #{free_fee_times,jdbcType=VARCHAR}, #{bill_day,jdbcType=VARCHAR}, #{apply_need,jdbcType=VARCHAR}, 
      #{pass_rate,jdbcType=VARCHAR}, #{need_query,jdbcType=BIT}, #{background,jdbcType=VARCHAR}, 
      #{work_day,jdbcType=VARCHAR}, #{school_url,jdbcType=VARCHAR}, #{type,jdbcType=BIT}, 
      #{nuclear_card,jdbcType=BIT}, #{open_url,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.citytuike.model.TpBank" >
    update tp_bank
    set name = #{name,jdbcType=VARCHAR},
      code = #{code,jdbcType=VARCHAR},
      thumb = #{thumb,jdbcType=VARCHAR},
      desc = #{desc,jdbcType=VARCHAR},
      credit_card_desc = #{credit_card_desc,jdbcType=VARCHAR},
      recommend_rate = #{recommend_rate,jdbcType=TINYINT},
      apply_rate = #{apply_rate,jdbcType=TINYINT},
      apply_speed = #{apply_speed,jdbcType=TINYINT},
      create_at = #{create_at,jdbcType=TIMESTAMP},
      color = #{color,jdbcType=VARCHAR},
      tag = #{tag,jdbcType=VARCHAR},
      bonus = #{bonus,jdbcType=DECIMAL},
      apply_num = #{apply_num,jdbcType=INTEGER},
      banner = #{banner,jdbcType=VARCHAR},
      use_bonus = #{use_bonus,jdbcType=DECIMAL},
      thumb_l = #{thumb_l,jdbcType=VARCHAR},
      tel = #{tel,jdbcType=VARCHAR},
      banner_index = #{banner_index,jdbcType=VARCHAR},
      jump_url = #{jump_url,jdbcType=VARCHAR},
      sort = #{sort,jdbcType=TINYINT},
      status = #{status,jdbcType=TINYINT},
      real_apply_num = #{real_apply_num,jdbcType=INTEGER},
      partner_id = #{partner_id,jdbcType=VARCHAR},
      free_day = #{free_day,jdbcType=VARCHAR},
      avg_quota = #{avg_quota,jdbcType=VARCHAR},
      avg_apply_num = #{avg_apply_num,jdbcType=VARCHAR},
      year_fee = #{year_fee,jdbcType=VARCHAR},
      free_fee_times = #{free_fee_times,jdbcType=VARCHAR},
      bill_day = #{bill_day,jdbcType=VARCHAR},
      apply_need = #{apply_need,jdbcType=VARCHAR},
      pass_rate = #{pass_rate,jdbcType=VARCHAR},
      need_query = #{need_query,jdbcType=BIT},
      background = #{background,jdbcType=VARCHAR},
      work_day = #{work_day,jdbcType=VARCHAR},
      school_url = #{school_url,jdbcType=VARCHAR},
      type = #{type,jdbcType=BIT},
      nuclear_card = #{nuclear_card,jdbcType=BIT},
      open_url = #{open_url,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select id, name, code, thumb, "desc", credit_card_desc, recommend_rate, apply_rate,
    apply_speed, create_at, color, tag, bonus, apply_num, banner, use_bonus, thumb_l, 
    tel, banner_index, jump_url, sort, status, real_apply_num, partner_id, free_day, 
    avg_quota, avg_apply_num, year_fee, free_fee_times, bill_day, apply_need, pass_rate, 
    need_query, background, work_day, school_url, type, nuclear_card, open_url
    from tp_bank
    where id = #{bank_id}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select id, name, code, thumb, "desc", credit_card_desc, recommend_rate, apply_rate,
    apply_speed, create_at, color, tag, bonus, apply_num, banner, use_bonus, thumb_l, 
    tel, banner_index, jump_url, sort, status, real_apply_num, partner_id, free_day, 
    avg_quota, avg_apply_num, year_fee, free_fee_times, bill_day, apply_need, pass_rate, 
    need_query, background, work_day, school_url, type, nuclear_card, open_url
    from tp_bank
  </select>
  <select id="selectBankList" resultMap="BaseResultMap">
    select tp.id,tp.name,tp.thumb from tp_user_bank t LEFT JOIN tp_bank tp on t.bank_id = tp.id where t.user_id = #{user_id}
  </select>
</mapper>